a.solrjs_tagcloud_item {
display:block;
float:left;
margin-right:4px
}

div.solrjs_tagcloud_clearer {
clear:both;
}

a.solrjs_tagcloud_size_0 {
font-size:80%;
}
a.solrjs_tagcloud_size_1 {
font-size:90%;
}
a.solrjs_tagcloud_size_2 {
font-size:100%;
}Rst
a.solrjs_tagcloud_size_3 {
font-size:110%;
}
a.solrjs_tagcloud_size_4 {
font-size:120%;
}
a.solrjs_tagcloud_size_5 {
font-size:130%;
}
a.solrjs_tagcloud_size_6 {
font-size:140%;
}
a.solrjs_tagcloud_size_7 {
font-size:150%
}
a.solrjs_tagcloud_size_8 {
font-size:160%;
}
a.solrjs_tagcloud_size_9 {
font-size:170%;
}
a.solrjs_tagcloud_size_10 {
font-size:180%;
}

td.solrjs  {
font-weight:bold;
}

